<div id="content">
<div class="row">
    <big-breadcrumbs items="['About']" icon="fa fa-lg fa-fw fa-envelope" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>
    By Mail: homeaccountant@gmail.com <br/>
    By Phone: +972-542355622 <br/>

    Home Accountant Capabilities:<br/>
    &emsp;&bull;"Scan & Store" bills<br/>
    &emsp;&bull;Central management for household expenses<br/>
    &emsp;&bull;Harvest information and predict future expenses<br/>
<br/>
    Enjoy Home Accountant.<br/><br/>

</div>
	