<div id="content">
<div class="row">
    <big-breadcrumbs items="['Home']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>

<div>
    <h1 style="margin-top:0px; margin-bottom:0px"> Welcome <a ng-click="goToSettings()">Guy Liberman</a> </h1>
</div>


<div id="content" style="opacity: 1; padding-top:0px;"><!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">
<!-- right side of the page with the sparkline graphs -->
	<!-- col -->
	<!--<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">-->
		<!--&lt;!&ndash; sparks &ndash;&gt;-->
		<!--<ul id="sparks">-->
			<!--<li class="sparks-info">-->
				<!--<h8> Monthly Expenses <span class="txt-color-blue">$1,171</span></h8>-->

			<!--</li>-->
			<!--<li class="sparks-info">-->
				<!--<h8> Expenses Change <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h8>-->

			<!--</li>-->
			<!--<li class="sparks-info">-->
				<!--<h8> Stored Bills <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;16</span></h8>-->

			<!--</li>-->
		<!--</ul>-->
		<!--&lt;!&ndash; end sparks &ndash;&gt;-->
	<!--</div>-->
	<!-- end col -->

		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<!-- sparks -->
		<ul id="sparks">
			<li class="sparks-info">
				<h8> Monthly Expenses <span class="txt-color-blue">${{bardata.currentMonthExpenses}}</span></h8>

			</li>
			<li class="sparks-info">
				<h8> Expenses Change <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;{{bardata.expenseChanges}}%</span></h8>

			</li>
			<li class="sparks-info">
				<h8> Stored Bills <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;{{bardata.reportCount}}</span></h8>

			</li>
		</ul>
		<!-- end sparks -->
	</div>


</div>
<!-- end row -->

<!-- row -->
<div class="row">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<div class="well well-sm">
			<!-- Timeline Content -->
			<div class="smart-timeline">
				<ul class="smart-timeline-list">

					<div ng-repeat="note in notes">

						<div ng-if="note.attachment_type == 'Report'">
							<li>
								<div class="smart-timeline-icon">
									<i class="fa fa-file-text"></i>
								</div>

								<div class="smart-timeline-time">
									<small>{{ note.time.$date | date:'yyyy-MM-dd HH:mm'}}</small>
								</div>

								<div class="smart-timeline-content">
									<p>
										<a  ng-click="goToReports()" ><strong>{{note.title}}</strong></a>
									</p>
									<p>
										{{note.text}}
									</p>
									<p ng-if="note.attachment_id == '123'">
										<a href="javascript:void(0);" class="btn btn-xs btn-primary"><i class="fa fa-file"></i> Report </a>
									</p>

								</div>
							</li>
						</div>

						<div ng-if="note.attachment_type == 'Graph'">
							<li>
							<div class="smart-timeline-icon bg-color-greenDark">
								<i class="fa fa-bar-chart-o"></i>
							</div>

							<div class="smart-timeline-time">
								<small>{{ note.time.$date | date:'yyyy-MM-dd HH:mm'}}</small>
							</div>

							<div class="smart-timeline-content">
								<p>
									<a href="javascript:void(0);"><strong>{{note.title}}</strong></a>
								</p>
								<p>
									{{note.text}}
								</p>

							</div>

							</li>


						</div>

						<div ng-if="note.attachment_type == 'Comment'">
							<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-pencil"></i>
							</div>

							<div class="smart-timeline-time">
								<small>{{ note.time.$date | date:'yyyy-MM-dd HH:mm'}}</small>
							</div>

							<div class="smart-timeline-content">
								<p>
									<a href="javascript:void(0);"><strong>{{note.title}}</strong></a>
								</p>
								<p>
									{{note.text}}
								</p>
								<p>
										<a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Comment </a>
								</p>

							</div>


							</li>
						</div>

						<div ng-if="note.attachment_type == 'Settings'">
							<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-user"></i>
							</div>

							<div class="smart-timeline-time">
								<small>{{ note.time.$date | date:'yyyy-MM-dd HH:mm'}}</small>
							</div>

							<div class="smart-timeline-content">
								<p>
									<a  ng-click="goToSettings()"><strong>{{note.title}}</strong></a>
								</p>
								<p>
									{{note.text}}
								</p>

							</div>
							</li>
						</div>

					</div>

					<!--<li>-->
						<!--<div class="smart-timeline-icon">-->
							<!--<i class="fa fa-file-text"></i>-->
						<!--</div>-->
						<!--<div class="smart-timeline-time">-->
							<!--<small>just now</small>-->
						<!--</div>-->
						<!--<div class="smart-timeline-content">-->
							<!--<p>-->
								<!--<a href="javascript:void(0);"><strong>Electricity Management</strong></a>-->
							<!--</p>-->
							<!--<p>-->
								<!--report for 01.04.17 was uploaded, payment of 301$-->
							<!--</p>-->
							<!--<p>-->
								<!--<a href="javascript:void(0);" class="btn btn-xs btn-primary"><i class="fa fa-file"></i> Report </a>-->
							<!--</p>-->

						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="smart-timeline-icon">-->
							<!--<i class="fa fa-file-text"></i>-->
						<!--</div>-->
						<!--<div class="smart-timeline-time">-->
							<!--<small>1 min ago</small>-->
						<!--</div>-->
						<!--<div class="smart-timeline-content">-->
							<!--<p>-->
								<!--<a href="javascript:void(0);"><strong>Water Management</strong></a>-->
							<!--</p>-->
							<!--<p>-->
								<!--report for 01.04.17 was uploaded, payment of 101$-->
							<!--</p>-->
							<!--<p>-->
								<!--<a href="javascript:void(0);" class="btn btn-xs btn-primary"><i class="fa fa-file"></i> Report </a>-->
							<!--</p>-->

						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="smart-timeline-icon bg-color-greenDark">-->
							<!--<i class="fa fa-bar-chart-o"></i>-->
						<!--</div>-->
						<!--<div class="smart-timeline-time">-->
							<!--<small>5 hrs ago</small>-->
						<!--</div>-->
						<!--<div class="smart-timeline-content">-->
							<!--<p>-->
								<!--<strong class="txt-color-greenDark">Graphs Update</strong>-->
							<!--</p>-->

							<!--<div class="sparkline" data-sparkline-type="compositeline" data-sparkline-spotradius-top="5" data-sparkline-color-top="#3a6965" data-sparkline-line-width-top="3" data-sparkline-color-bottom="#2b5c59" data-sparkline-spot-color="#2b5c59" data-sparkline-minspot-color-top="#97bfbf" data-sparkline-maxspot-color-top="#c2cccc" data-sparkline-highlightline-color-top="#cce8e4" data-sparkline-highlightspot-color-top="#9dbdb9" data-sparkline-width="170px" data-sparkline-height="40px" data-sparkline-line-val="[6,4,7,8,4,3,2,2,5,6,7,4,1,5,7,9,9,8,7,6]" data-sparkline-bar-val="[4,1,5,7,9,9,8,7,6,6,4,7,8,4,3,2,2,5,6,7]"><canvas width="170" height="40" style="display: inline-block; width: 170px; height: 40px; vertical-align: top;"></canvas></div>-->

							<!--<br>-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="smart-timeline-icon">-->
							<!--<i class="fa fa-user"></i>-->
						<!--</div>-->
						<!--<div class="smart-timeline-time">-->
							<!--<small>yesterday</small>-->
						<!--</div>-->
						<!--<div class="smart-timeline-content">-->
							<!--<p>-->
								<!--<a href="javascript:void(0);"><strong>Update User Information</strong></a>-->
							<!--</p>-->
							<!--<p>-->
                                <!--password updated by <a href="">Guy Liberman</a>-->
							<!--</p>-->

						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="smart-timeline-icon">-->
							<!--<i class="fa fa-pencil"></i>-->
						<!--</div>-->
						<!--<div class="smart-timeline-time">-->
							<!--<small>02 May, 2017</small>-->
						<!--</div>-->
						<!--<div class="smart-timeline-content">-->
							<!--<p>-->
								<!--<a href="javascript:void(0);"><strong>Add Comment</strong></a>-->
							<!--</p>-->
							<!--<p>-->
								<!--<a href="">Guy Liberman</a> added a comment on <a href="">Electricity Report 01.03.17</a>-->
							<!--</p>-->
							<!--<a href="javascript:void(0);" class="btn btn-xs btn-default">Read more</a>-->
						<!--</div>-->
					<!--</li>-->

					<li class="text-center">
						<a href="javascript:void(0)" class="btn btn-sm btn-default"><i class="fa fa-arrow-down text-muted"></i> LOAD MORE</a>
					</li>
				</ul>
			</div>
			<!-- END Timeline Content -->

		</div>

	</div>

</div>

<!-- end row -->


<!--<script type="text/javascript">-->
	<!--/* DO NOT REMOVE : GLOBAL FUNCTIONS!-->
	 <!--*-->
	 <!--* pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS-->
	 <!--*-->
	 <!--* // activate tooltips-->
	 <!--&lt;!&ndash;* $("[rel=tooltip]").tooltip();&ndash;&gt;-->
	 <!--*-->
	 <!--* // activate popovers-->
	 <!--* $("[rel=popover]").popover();-->
	 <!--*-->
	 <!--* // activate popovers with hover states-->
	 <!--* $("[rel=popover-hover]").popover({ trigger: "hover" });-->
	 <!--*-->
	 <!--* // activate inline charts-->
	 <!--* runAllCharts();-->
	 <!--*-->
	 <!--* // setup widgets-->
	 <!--* setup_widgets_desktop();-->
	 <!--*-->
	 <!--* // run form elements-->
	 <!--* runAllForms();-->
	 <!--*-->
	 <!--********************************-->
	 <!--*-->
	 <!--* pageSetUp() is needed whenever you load a page.-->
	 <!--* It initializes and checks for all basic elements of the page-->
	 <!--* and makes rendering easier.-->
	 <!--*-->
	 <!--*/-->

	<!--pageSetUp();-->

	<!--/*-->
	 <!--* ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE-->
	 <!--* eg alert("my home function");-->
	 <!--*/-->

	<!--// pagefunction-->

	<!--var pagefunction = function() {-->

	<!--};-->

	<!--// end pagefunction-->

	<!--// run pagefunction on load-->

	<!--pagefunction();-->

<!--</script>-->
</div>