<div id="content">
<div class="row">
    <big-breadcrumbs items="['Home']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>

<div>
    <h1> Welcome <a href>Guy Liberman</a>, </h1>
    Home Accountant Capabilities:<br/>
    &emsp;&bull;"Scan & Store" bills<br/>
    &emsp;&bull;Central management for household expenses<br/>
    &emsp;&bull;Harvest information and predict future expenses<br/>
<br/>
    Enjoy Home Accountant.<br/><br/>

    <h1>Upcoming Tasks:</h1>
    &emsp;&bull;<a href>Upload Electricity Bill for 05/17</a><br/>
    &emsp;&bull;<a href>Review Last Month (04/17) Statistics</a><br/>
</div>
