<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.home" title="Home">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{getWord('Home')}}</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.upload" title="New">
                    <i class="fa fa-lg fa-fw fa-cloud-upload"></i> <span class="menu-item-parent">{{getWord('New Report')}}</span></a>
            </li>
                        <li data-ui-sref-active="active">
                <a data-ui-sref="app.statistics" title="Statistics">
                    <i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">{{getWord('Statistics')}}</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.reports" title="Reports">
                    <i class="fa fa-lg fa-fw fa-database"></i> <span class="menu-item-parent">{{getWord('Manage Reports')}}</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.settings" title="Settings">
                    <i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">{{getWord('Settings')}}</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.about" title="Contact">
                    <i class="fa fa-lg fa-fw fa-envelope"></i> <span class="menu-item-parent">{{getWord('Contact Us')}}</span></a>
            </li>

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>